/* #region================= STOCK STYLES =================*/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
  background-color: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;

  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  color: #2e2f42;
}

.post-title {
  text-align: center;
  text-transform: capitalize;

  letter-spacing: 0.02em;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: #2e2f42;
}

button {
  font-weight: 500;
  letter-spacing: 0.04em;
}

a {
  /* font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em; */

  text-decoration: none;

  color: currentColor;
}

ul {
  list-style-type: none;
}
/* #endregion */

/* #region================= HEADER =================*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  color: #4d5ae5;
}

.part-of-logo {
  color: #2e2f42;
}

.link-nav {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-link {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region================= HERO 1 =================*/

.hero {
  background-color: #2e2f42;
}

.hero-title {
  letter-spacing: 0.02em;
}

.hero-button {
  line-height: 1.5;

  cursor: pointer;

  color: #ffffff;
  background-color: #4d5ae5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region================= FEATURES 2 =================*/

.features-item-title {
  letter-spacing: 0.02em;
}

/* .features .features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
} */
/* #endregion */

/* #region================= OUR TEAM 3 =================*/

.team {
  background-color: #f4f4fd;
}

.team-item {
  letter-spacing: 0.02em;
  text-align: center;

  background-color: #ffffff;
}

.team-item-title {
  letter-spacing: 0.02em;
}

.team-item-text {
  font-size: 16px;
}

/* #endregion */

/* #region================= OUR PORTFOLIO 4 =================*/

/* #endregion */

/* #region================= FOOTER =================*/

footer {
  background-color: #2e2f42;
}

footer .part-of-logo {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}

/* #endregion */
